@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg-1 {
    background-color: #1b6f60;
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #2f2f2f;
    color: #ffffff;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

.center-text {
    padding: 15px 0;
}

.margin {margin-bottom: 25px;}
.margin-1 {margin-bottom: 20px;}